{% extends 'base.html' %}

{% block extrahead %}
    <title>Home</title>
{% endblock extrahead %}


{% block content %}
    <div class="container">
        <h1>Taller #6 - MPA/MVC</h1>
        <p>Esta es la página principal del taller.</p>
        <p>Este taller fue realizado con base en la guía de "Django (Python web Framework)" de la materia.</p>
        <h3><a>Trabajo realizado por: Jeisson Andres Perez Moreno - 2211921 y Brayan Yesid Quintero Santander - 2221707</a></h3>
    </div>
{% endblock content %}